@use '../global' as *;

/* Pagination Container */
.nav {
  padding: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
}

/* Pagination Items */
.list-item {
  margin: 0 0.5rem;

  .page-link {
    border: 1px solid var(--gray);
    padding: 0.5rem;
    text-decoration: none;
    color: var(--black);
    background-color: #eee;
    border-radius: 4px;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--gray);
    }
  }

  &.disabled {
    .page-link {
      color: var(--gray-deep);
      pointer-events: none; // to disable hover on disabled item
    }
  }
}
