@use '../global' as *;

.search-block {
  --padding-x: 16px;

  background-color: var(--white);
  border-radius: 4px;
  margin-bottom: 16px;

  .search-header {
    align-items: center;
    background-color: var(--gray);
    border-radius: 4px 4px 0 0;
    color: inherit;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 4px var(--padding-x);

    .material-symbols-outlined {
      padding: 4px;
      &:hover {
        background-color: var(--gray-medium);
        border-radius: 50%;
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }

  .search-body {
    padding: 0 var(--padding-x);

    &.collapse {
      display: none;
    }

  }

  .search-footer {
    padding: 16px var(--padding-x);

    .search-info {
      margin-top: 16px;
    }

    &.collapse {
      display: none;
    }

    @include pc-screen() {
      align-items: center;
      display: flex;
      flex-wrap: wrap;

      .search-info {
        margin-right: 16px;
        margin-top: 0px;
      }
    }
  }

}

.date-select {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

/* Sort */
.sort-field {
  margin-top: 16px;
  @include pc-screen() {
    margin-top: 0;
  }

  .form-label {
    display: inline-block;
    white-space: nowrap;
  }
  .input-field {
    display: inline-block;
  }
  align-items: center;
  display: flex;
  margin-left: auto;
}
