@use '../global' as *;

.table-block {
  border-radius: 4px;

  &.is-scrollable {
    overflow-x: scroll;
    overflow-y: scroll;
    position: relative;
    max-height: calc(100vh - var(--header-height) - 32px);
  }
}

.table {
  background-color: var(--white);
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  width: 100%;

  &.is-fixed {
    table-layout: fixed;
  }
}

.table-header {
  background-color: var(--gray-medium);
  position: sticky;
  top: 0;
  z-index: var(--z-index-table-header);
}

.th-cell {
  border-right: 1px solid var(--gray-light);
  border-bottom: 1px solid var(--gray-medium);
  font-weight: bold;
  padding: 8px 16px;
  overflow-wrap: break-word;
}

.td-cell {
  border-right: 1px solid var(--gray-light);
  border-bottom: 1px solid var(--gray-medium);
  padding: 8px 16px;
  overflow-wrap: break-word;
}

/* Round the corners of the table
-------------------------*/
.table {
  border-radius: 4px;

  &-header {
    .table-row {
      .th-cell {
        &:first-child {
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-top-right-radius: 4px;
        }
      }
    }
  }

  &-body {
    .table-row {
      &:last-child {
        .td-cell {
          &:first-child {
            border-bottom-left-radius: 4px;
          }

          &:last-child {
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }
}

/* Spot styles
-------------------------*/
.th-cell,
.td-cell {

  &.is-hidden-mobile {
    display: none;

    @include pc-screen() {
      display: block;
    }
  }
}

/* Fixed cell
-------------------------*/
.th-cell,
.td-cell {
  &.col-fixed {
    background-color: var(--white);
    left: 0;
    position: sticky;
    z-index: var(--z-index-table-cell);
  }
}

.th-cell {
  &.col-fixed {
    background-color: var(--gray-medium);
  }
}

/* Hoverable row, cell
-------------------------*/
.table-row {
  &.is-hoverable {
    &:hover {
      .th-cell,
      .td-cell {
          background-color: var(--table-hover-color);
      }
    }
  }
}
