@use '../global' as *;

.layout-footer {
  background-color: var(--footer-color);
  color: var(--white);
  height: var(--footer-height);

  .footer-container {
    text-align: center;
    padding: 4px var(--page-padding-x);
  }
}
