@use '../global' as *;

.layout-operation {
  background-color: var(--dark);
  border-top: 1px solid var(--gray-medium);
  bottom: 0;
  height: var(--layout-operation-height);
  position: fixed;
  width: 100%;
}

.operation-container {
  align-items: center;
  display: flex;
  padding: 24px;
}

.delete-form-wrapper {
  color: var(--white);
  margin-left: auto;
}
